body {
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #444;
}

a {
  text-decoration: underline;
  color: #444;
}

a:hover {
  color: #2755A1;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: #222;
}

h1, h2 {
  font-weight: 900;  
}

.page-header {
  background: #f5f5f5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}

.page-header h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 5px;
}

.page-title-link {
  text-decoration: none;
  color: #222;
  margin: 0;
  padding: 0;
}

.page-title-link img{
  width: 64px;
  height: 64px;
}

.page-header h2 {
  font-size: 18px;
  font-weight: 300;
}

nav {
  margin-top: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

nav a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}

nav li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

#content article {
  margin: 0 auto;
  max-width: 620px;
  border-bottom: 1px solid #e3e3e3;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 40px;
  padding-bottom: 40px;
}

article header {
  margin-bottom: 25px;  
}

article h2 {
  margin: 0px 0px 8px 0px;
  font-weight: 900;
  font-size: 40px;
}

article h2 a, article h2 a:hover {
  text-decoration: none;
  color: #222;
}

article small {
  font-style: italic;
  font-size: 14px;
}

article p {
  font-size: 18px;
  max-width: 500px;
}

.project img {
  margin-left: 8px;
  vertical-align: middle;
}

.project a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: #FFF;  
    color: #222;  
    border: solid 1px #222; 
    margin: 2px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

input:focus {
  border: solid 1px #174C82;
  background: #c2e5ff;
}

input.false {
  border: solid 1px #b5190e;
  background: #ffcda2;
}

#gift {
  position: absolute;
  right: 10px;
  top: 10px;
  display:block;
  width: 10px;
  height: 10px;
  background-image: url(../img/gift@1x.png);
  background-image: -webkit-image-set(
                      url(../img/gift@1x.png) 1x,
                      url(../img/gift@2x.png) 2x);
}

#gift:hover {
  background-image: url(../img/gift_hover@1x.png);
  background-image: -webkit-image-set(
                      url(../img/gift_hover@1x.png) 1x,
                      url(../img/gift_hover@2x.png) 2x);

}

.mac-expose {
  width: 350px;
  height: 296px;
  background-image: url(../img/mac.svg);
  background-size: cover;
  margin: 24px;
}

.mac-screenshot {
  position: relative;
  left: 15px;
  top: 15px;
  width: 320px;
  height: 180px;
}

.mac-shine {
  position: relative;
  left: 147px;
  top: -190px;
  width: 203px;
  height: 213px;
  background-image: url(../img/mac_shine.svg);
  background-size: cover;
}

.clear {
  clear: both;
}