extends ../layout

block content

  h2 Molicula

  img.wide(src='/img/projects/molicula/screenshot0.png')

  :markdown
    ### Description
    Molicula is a fascinatingly simple puzzle game. Rotate and flip the pieces to fill the grid. Only 6 out of the 7 pieces are required to complete the grid. Which piece you leave out determines the difficulty of finding a solution.

    Can you find all solutions?

    * Simple graphics
    * Intuitive gestures
    * Over 40 unique solutions

    Have questions, problems or feedback? Reach out to me at molicula@ericwolter.com

    Note: This is a digital adaptation of the physical puzzle "Fantastic Island" (sometimes called "Atompuzzle").

    ### What's new in 1.1.0
    * Universal iPhone support
    * New animations
    * Improved contrast 

  h3 Technologies
  ul
    li iOS SDK
    li ObjectiveC
    li OpenGL
