extends ../layout

block content

  h2 Molicula

  img.wide(src='/img/projects/molicula/screenshot0.png')

  h3 Description
  :markdown
    Molicula is simple puzzle game. Arrange pieces into a grid leaving a different piece out each time.

    * Beautiful graphics
    * Intuitive gestures
    * 120 unique solutions

    Molicula runs on iPad 2 and higher.

  h3 Technologies
  ul
    li iOS SDK
    li ObjectiveC
    li OpenGL
