extends ../layout

block scripts
  link(rel='stylesheet', href='/css/photoset.css')
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/imagesloaded.min.js')
  script(type='text/javascript', src='/js/photoset-editor.js')

block content

  .project-page
    h2 Photoset Editor

    h4 DEMO - Stockholm at Night

    p Try the editor by dragging the photos around!

    .photoset
      .marker.horizontal(style="display:none")
      .marker.vertical(style="display:none")
      .photo-set

    .project-description
      h3 Description

      :markdown
        The photoset editor was created as a WYSIWYG component in my new blog engine. The user can rearrange photos (by uploading them) in a grid via a simple drag'n'drop gesture. The project is inspired by Tumblr's photoset feature which works in a similar fashion.

      h3 Technologies
      ul
        li HTML5
        li CSS3
        li Javascript

      h3 Source Code
      :markdown
        The source code can be found at [github](https://github.com/ericwolter/photoset-editor).

    script(type='text/javascript').
      var editor = new PhotosetEditor($('.photo-set').first());
      editor.setAll([
        ['/img/projects/photoset-editor/pic5.jpg'],
        ['/img/projects/photoset-editor/pic2.jpg','/img/projects/photoset-editor/pic1.jpg'],
        ['/img/projects/photoset-editor/pic4.jpg','/img/projects/photoset-editor/pic0.jpg','/img/projects/photoset-editor/pic3.jpg'],
        ['/img/projects/photoset-editor/pic6.jpg','/img/projects/photoset-editor/pic7.jpg'],
      ]);
