extends ../layout

block scripts
  link(rel='stylesheet', href='/css/photoset.css')
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/imagesloaded.min.js')
  script(type='text/javascript', src='/js/photoset-editor.js')

block content

  a(href="/")
    h3.back ⬅ Overview

  a(href="https://github.com/ericwolter/photoset-editor")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")

  .project-page
    h2 Photoset Editor

    h4 DEMO - Stockholm at Night

    p Try the editor by dragging the photos around with your mouse!

    .photoset
      .marker.horizontal(style="display:none")
      .marker.vertical(style="display:none")
      .photo-set

    .project-description
      h3 Description

      :markdown
        The photoset editor was created as a WYSIWYG component in my new blog engine. The user can rearrange photos (by uploading them) in a grid via a simple drag'n'drop gesture. The project is inspired by Tumblr's photoset feature but has the advantage that it can handle unlimited photos and is open source.

      h3 Technologies
      ul
        li HTML5
        li CSS3
        li Javascript

    script(type='text/javascript').
      var editor = new PhotosetEditor($('.photo-set').first());
      editor.setAll([
        ['/img/projects/photoset-editor/pic5.jpg'],
        ['/img/projects/photoset-editor/pic2.jpg','/img/projects/photoset-editor/pic1.jpg'],
        ['/img/projects/photoset-editor/pic4.jpg','/img/projects/photoset-editor/pic0.jpg','/img/projects/photoset-editor/pic3.jpg'],
        ['/img/projects/photoset-editor/pic6.jpg','/img/projects/photoset-editor/pic7.jpg'],
      ]);
