extends ../layout

block content

  .project-page
    h2 Physically-based Skinning of Rigid Bodies

    ul.banner.two
      li.item.two
        img(src='/img/projects/physically-based-skinning-of-rigid-bodies/screenshot1.png')
      li.item.two
        video(src='/img/projects/physically-based-skinning-of-rigid-bodies/video0.mp4', controls, loop)

    .project-description
      h3 Description

      :markdown
        This is the code and document for my bachelor's thesis. It includes my own rough implementation of "Solid Simulation with Oriented Particles" by Matthias Müller and Nuttapong Chentanez. I developed a simple method to couple their oriented particles with a rigid body simulation built on top of the bullet physics library.

      h3 Technologies
      ul
        li C/C++
        li OpenGL
        li bullet

      h3 Source Code
      :markdown
        The source code can be found at [github](https://github.com/ericwolter/physically-based-skinning-of-rigid-bodies).
