extends ../layout

block content

  h2 Physically-based Skinning of Rigid Bodies

  img.wide(src='/img/projects/physically-based-skinning-of-rigid-bodies/screenshot0.png')

  h3 Description

  h3 Technologies
  ul
    li C++
    li OpenGL
    li bullet

  h3 Source Code
  :markdown
    The source code can be found at [github](https://github.com/ericwolter/physically-based-skinning-of-rigid-bodies)

