extends ../layout

block content

  h2 Position Based Fluids

  img.extrawide(src='/img/projects/position-based-fluids/screenshot0.png')

  h3 Description

  h3 Technologies
  ul
    li C++
    li OpenCL
    li OpenGL

  h3 Source Code
  :markdown
    The source code can be found at [github](https://github.com/ericwolter/position-based-fluids)