/* PHOTOSET CREATOR */
.photoset {
  width: 500px;
  margin: 0 auto;
}
.photo-set {
  position: relative;
}

.photo-set, .photo-row {
  white-space: nowrap;
}

.marker {
  position: absolute;
  background: rgb(185, 166, 135);
}

.marker.horizontal {
  width: 504px;
  height: 1px;
}

.marker.horizontal:before {
  box-sizing: border-box;
  position: absolute;
  left: -9px;
  top: -4px;
  content:'';
  display:block;
  width: 9px;
  height: 9px;
  background-color: #fff;

  border: 1px solid rgb(185, 166, 135);
  border-radius: 9px;
}

.marker.horizontal:after {
  box-sizing: border-box;
  position: absolute;
  right: -9px;
  top: -4px;
  content:'';
  display:block;
  width:9px;
  height:9px;
  background-color: #fff;

  border: 1px solid rgb(185, 166, 135);
  border-radius: 9px;
}

.marker.vertical {
  width: 1px;
  height: 504px;
}

.marker.vertical:before {
  box-sizing: border-box;
  position: absolute;
  left: -4px;
  top: -9px;
  content:'';
  display:block;
  width:9px;
  height:9px;
  background-color: #fff;

  border: 1px solid rgb(185, 166, 135);
  border-radius: 9px;
}

.marker.vertical:after {
  box-sizing: border-box;
  position: absolute;
  left: -4px;
  bottom: -9px;
  content:'';
  display:block;
  width:9px;
  height:9px;
  background-color: #fff;

  border: 1px solid #00a7fb;
  border-radius: 9px;
}

.photo-set img {
  position: absolute;
  top: 0;
  left: 0;
}

.photo-set img {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
