html {
  font-family: source-sans-pro, sans-serif;
}

body {
  color: #222;
}

a, a:active, a:visited {
	color: #174C82;
}

#background {
	border-top: 5px solid #222;
	height: 10px;
}

#page-header, #page-content, #page-footer {
    margin: 0px auto;
    width: 96%;
    max-width: 680px;
}

#page-header {
  border-bottom: 2px solid #222;
}

#header-content {
  line-height: 64px;
  font-weight: bold;
  font-size: 31px;
}

#avatar {
  vertical-align: middle;
}

nav {
  text-align: right;
  margin-bottom: 2px;
}

nav a, nav a:active, nav a:visited {
  color: #222;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

nav a.selected {
  color: #222;
  border-bottom: 2px solid #222;
  font-weight: bold;
}

nav a:hover {
  color: #222;
  border-bottom: 2px solid #222;
}

.greeting {
  margin: 64px 0px;
  text-align: center;
}
.greeting .name {
  margin: 0px;
  font-size: 64px;
}

.greeting a {
  font-style: italic;
}


#page-content article {
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5%;
	margin-bottom: 10%;
}

article p {
	font-size: 17px;
	line-height: 27px;
}

article header h2 {
	margin: 0;
}

article header h2 a {
	text-decoration: none;
	color: #222;
}

article header time {
	color: #666;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: #FFF;  
    color: #222;  
    border: solid 1px #222; 
	margin: 2px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

input:focus {
	border: solid 1px #174C82;
	background: #c2e5ff;
}

input.false {
	border: solid 1px #b5190e;
	background: #ffcda2;
}

section.project h3 img {
	margin-left: 10px;
	vertical-align: middle;
}

footer {
    border-top: 2px solid #222;
	padding-top: 10px;
	font-size: 12px;
	text-align: center;
}

footer p {
	margin: 0;
}