extends layout

block content
  
  - var archive = [];
  - _.each(contents.posts._.directories, function(year) {
  -   _.each(year._.directories, function(month) {
  -     _.each(month._.directories, function(day) {
  -       _.each(day._.directories, function(post) {
  -         archive.push(post);
  -       });
  -     });
  -   });
  - });
  - console.log(archive);
  //- - var archive = _.chain(contents.posts._.directories).map(function(item) {
  //- -   console.log(item);
  //- -   console.log(item.index);
  //- -   return item.index
  //- - }).compact().sortBy(function(item) {
  //- -   return -item.date
  //- - }).groupBy(function(item) {
  //- -   return item.date.getFullYear()
  //- - }).value()
  //- - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

  span= archive
  //- section.archive
  //-   ul
  //-     each year in _.chain(archive).keys().reverse().value()
  //-       li.year= year
  //-       - var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
  //-       ul
  //-         each posts, month in months
  //-           li
  //-             strong= month
  //-             each post in posts
  //-               br
  //-                 a(href=post.url)= post.title quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.