extends layout

block content
  h2 eMail
  p eric.wolter (at) gmx.de

  h2 Twitter
  a(href="https://twitter.com/_ericwolter") @ericwolter

  h2 GitHub
  a(href="https://github.com/ericwolter") ericwolter
  