extends layout

block content
  .hero-image
  .splash
    h1 Eric Wolter
    .about-me
      :markdown
        I am a software developer from Germany. I have a passion for mobile development, web development and physics simulations. I love playing with new technologies and learning everyday. I have gained much practical experience as a working student for over 5 years.

        I recently finished my Master's degree in Computer Science and I am currently looking for a full-time job. **Please get in touch!**

    .contacts
      a.symbol(href="http://www.google.com/recaptcha/mailhide/d?k=01znhN9NW9uZa__ZuSO1H3Rg==&amp;c=rgI-a-VTZfBFJsw57m7t1M9RHBATNqVHGbaDz2np9nU=", onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501znhN9NW9uZa__ZuSO1H3Rg\75\75\46c\75rgI-a-VTZfBFJsw57m7t1M9RHBATNqVHGbaDz2np9nU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;") circleaboutme
      a.symbol(href="http://xing.to/ericwolter") circlexing
      a.symbol(href="https://github.com/ericwolter") circlegithubalt
      a.symbol(href="https://twitter.com/_ericwolter") circletwitter

  h2 Projects

  .bottom
    ul.projects
      li.project
        a(href="projects/molicula.html")
          .project-thumb(style="background-image: url(img/projects/molicula/screenshot0.png);")
          .project-info
            h3.project-title Molicula
            p Logic puzzle game for iOS
      li.project
        a(href="projects/photoset-editor.html")
          .project-thumb(style="background-image: url(img/projects/photoset-editor/screenshot0.jpg);")
          .project-info
            h3.project-title Photoset Editor
            p Drag'n'drop photo grid
      li.project
        a(href="projects/position-based-fluids.html")
          .project-thumb(style="background-image: url(img/projects/position-based-fluids/screenshot0.png);")
          .project-info
            h3.project-title Position Based Fluid
            p Realtime GPU water simulation
      li.project
        a(href="projects/thomas-wolter-de.html")
          .project-thumb(style="background-image: url(img/projects/thomas-wolter.de/screenshot0.png);")
          .project-info
            h3.project-title thomas-wolter.de
            p 3D Snake viewer
      li.project
        a(href="projects/gpu-simulation-of-rigid-fibers.html")
          .project-thumb(style="background-image: url(img/projects/gpu-simulation-of-rigid-fibers/screenshot0.jpg);")
          .project-info
            h3.project-title GPU Simulation of Rigid Fibers
            p Fiber sedimentation
      li.project
        a(href="projects/physically-based-skinning-of-rigid-bodies.html")
          .project-thumb(style="background-image: url(img/projects/physically-based-skinning-of-rigid-bodies/screenshot0.png);")
          .project-info
            h3.project-title Physically based Skinning of Rigid Bodies
            p Deformable bodies
