extends layout

block content
  each article in articles
    article
      header
        a.article-title(href=article.url)= article.title
        time(datetime=article.date)= moment(article.date).format('MMMM D, YYYY')
      !{ typogr(article.html).typogrify() }