extends layout

block content

  article
    h2 Active Projects
    p Project #1
    p Project #2
    p Project #3
    p Project #4
  article
    h2 Discontiuned Projects
    p Project #1
    p Project #2
    p Project #3
    p Project #4