!!! 5
html(lang="en")
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
      meta(name="viewport",content="width=device-width")
      title ericwolter.com
      link(rel="stylesheet", href="css/normalize.css")
      link(rel="stylesheet", href="css/style.css")
      script(src="//use.edgefonts.net/source-sans-pro:n3,n4,n9,i4.js")
      block scripts
  body
    header#sidebar
      div#sidebar-content
        h1 Eric Wolter
        h2 Developer from Germany
        
        nav
          ul
            li
              a(href="projects.html") projects
            li 
              a(href="https://twitter.com/oreon") @ericwolter
            li
              a(href="") feed

        a#gift(href="wishlist.html")
    
    div#content(role="main")
      block content