extends layout

block content

  h2 Privacy Policy
  :markdown
    Simply put, I will do everything I can to keep your data private and secure.

  h2 My Apps
    The best way for an app to keep your private data private is to avoid handling it altogether. I strive to do this whenever possible. Currently none of my apps access your Address Book, Calendar, Photos, Location or Microphone. If this ever changes I will update this document to reflect what I access and why. It is my philosophy that the only reason an app should use your data is to make your life easier.

  h2 Molicula
    Molicula transmits anonymous crash information. I can see only the code section where the crash occured. This information helps me to fix and improve the app so it is more fun everybody. 
