extends layout

block content
  ul
    li
      a(href='projects/molicula.html') Molicula
    li
      a(href='projects/position-based-fluids.html') Position Based Fluids
    li
      a(href='projects/thomas-wolter-de.html') thomas-wolter.de
    li
      a(href='projects/physically-based-skinning-of-rigid-bodies.html') Physically-based Skinning of Rigid Bodies
