extends layout

block content
  article
    header
      h2
        a(href='') Blog Entry #3
      small
        time(datetime="2012-11-30T18:00:40-05:00", pubdate="pubdate") November 30, 2012
    p lorem ipsum
    p lorem ipsum
  article
    header
      h2
        a(href='') Blog Entry #2
      small
        time(datetime="2012-11-25T18:00:40-05:00", pubdate="pubdate") November 25, 2012
    p lorem ipsum
    p lorem ipsum
  article
    header
      h2
        a(href='') Blog Entry #1
      small
        time(datetime="2012-11-20T18:00:40-05:00", pubdate="pubdate") November 20, 2012
    p lorem ipsum
    p lorem ipsum
  article
    header
      h2
        a(href='') Blog Entry #3
      small
        time(datetime="2012-11-30T18:00:40-05:00", pubdate="pubdate") November 30, 2012
    p lorem ipsum
    p lorem ipsum
  article
    header
      h2
        a(href='') Blog Entry #2
      small
        time(datetime="2012-11-25T18:00:40-05:00", pubdate="pubdate") November 25, 2012
    p lorem ipsum
    p lorem ipsum
  article
    header
      h2
        a(href='') Blog Entry #1
      small
        time(datetime="2012-11-20T18:00:40-05:00", pubdate="pubdate") November 20, 2012
    p lorem ipsum
    p lorem ipsum          