extends layout

block content

  article
    h2 Active Projects
    section.project
      h3
        | iDrod
        img(src="img/ipad.png")
      p iPad port of DROD Architects' Edition
    section.project
      h3
        | AtomPuzzle
        img(src="img/imac.png")
        img(src="img/ipad.png")
      p iPad adaption of 2D Puzzle
  article
    h2 Discontinued Projects
    section.project
      h3
        | SpringSort
        img(src="img/imac.png")
      p Automatic sorter for iOS homescreens
    section.project
      h3
        | Musidy
        img(src="img/imac.png")
      p Visually rich music player for Windows
    section.project
      h3
        | Solitaire
        img(src="img/imac.png")
      p Solitaire clone and solver for Windows
    section.project
      h3
        | NameMe
        img(src="img/imac.png")
      p Simple Fantasy Name Generator