---
permalink: "| /projects/health-export.html"
---
extends /layout.pug
block variables
    - var page = 'p-redirect'

block scripts
  include ../js/projects/health-export/redirect.js

block content
  main(style="padding: 0 2%; max-width: 1140px; margin: 0 auto;")
    h2 The Apple Health XML to CSV site has moved!
 
    h3 The new web address for this page is 
      a(style="text-decoration: underline;" href="//ericwolter.com/projects/health-export/index.html") ericwolter.com/projects/health-export
      
    h3 ...You will be transferred to the new site in a moment...
 
    p If you have waited more than a few seconds and you are still seeing this message, please click on the link above! Thank you.</p>
